*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: auto;
	background-color: white;
}

header{
	width: 100%;
	height: 250px;
	background-color: deeppink;
}


nav{
	width: 100%;
	height: 60px;
	background-color: green;
}

main{
	width: 100%;
	height: 700px;
	background-color: lightblue;
	display: flex;
	flex-direction: row; /**/
	justify-content: space-evenly;
	/*maneja los espacios y el eje horizontal mismo
	align items pero align items tambien el eje vertical*/
	align-items: center;
}

#bloque1,  #bloque2, #bloque3{
	width: 30%;
	height: 655px;
	background-color: #333;
	color: white;
}


footer{
	width: 100%;
	height: 350px;
	background-color: deeppink;
}
