*{
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}

input{
    border: none;
    font-size: 1.5em;
    height: 40px;
    width: 60%;
    background-image: url("lupa.svg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 1.5em;
}

input:focus{
    border: none;
    background-color: green;
    background-image: url("cruz.svg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 1.5em;
}