*{
	margin: 0;
	padding: 0;

}
ul{display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-image: url(../imagenes/pattern-02.png);
	padding: 2%;
	list-style: none;
}

li{padding: 1em; border-radius: 0.4em;}
a{text-decoration: none; color: black; font-size: 1.4em;text-align: center;}
li:active{background-color: grey;}
li:hover{background-color: grey;}
li:link{}
li:visited{}

/*Se pueden agregar propiedades al final*/
.desplegable::after{content: url(../imagenes/flecha.png);margin-left: 0.5em;}

/*Como extra le voy a mter al h1 su id como titulo
entre parentesis*/
h1::after{content: "("attr(id)")";}
h1{padding: 1em;text-align: center;background-color: grey;}