main{display: grid; 
	 grid-template-columns: 25% auto auto;
	 grid-template-rows: 250px 250px 100px;
	 grid-column-gap:10px; 
	 grid-row-gap: 10px;
	}
div{border: 1px solid black;
	}
section{border: 1px solid black;
		grid-column-start:1; 
		grid-column-end:4;}
img{width: 100%; height: 100%;}
#primero{grid-row-start: 1;
	     grid-row-end: 3;}
