*{
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	text-align: justify;
}

header{
	background-image: url("imagenes/pattern-02.png");
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header div{
	padding: 1em;
}
header img{
	width: 15%;
	float: left;
}
#Camara{
	width: 35%;
	height: 300px;
}
nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
}

#login{
	margin-bottom: auto;
	margin-top: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	width: 12em;
	text-align: center;
	background-color: #ccc;
}
#login a{
	text-decoration: none;
	color: black;
}

nav li{
	padding: 1em;
}


li a:active{
	text-decoration: underline;
}

li a:link{
	color: violet;
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
}
li a:visited{
	text-decoration: none;
	color: violet;
}
main{
	display: flex;
	flex-direction: row;
	padding: 2em;
	margin-top: 2em;
}
main section:first-child{
	display: flex;
	flex-direction: row;
}

main section:first-child div{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;

}

#mapa{
	height: 100%;
	width: 20%;
}

main section:last-child div:first-child{
	display: flex;
	flex-direction: row;
	align-items: center;
}

main section:last-child{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

main section:last-child div:first-child p{
	padding-right: 1em;
}

/*es clave notar que el flex direction
funciona como align items en el caso en el
que tenemos un flex direction de tipo column
*/