.container{
    background-color: #F7F7F7;
}

.container-fluid{
    background-color:  #868695;;
}

body{
    background-color:#F7F7F7;
}

header{
    display: flex;
    flex-direction: column;
    height: 5em;
    position: relative;
    padding: 0;
}

header div:first-child{
    height: 4em;
}

#logo{
    height: 3em;
    width: 3em;
    background-color: #868695;
    position: absolute;
    border-radius: 100%;
    right: 2em;
    top: 1.5em;
}

#cabecera{
    background-color: #4DD2FF;
    height: 2em;
}

main section:first-child{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 1em;
}

ul{
    display: flex; 
    justify-content: space-between;
    list-style: none;
}

#lista{
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}


#ofertas{
    background-color: transparent;
    border-bottom: 1px solid black;
    padding-left: 0;
    line-height: 1.6em;
}

#caja1{
    width: 60%;
    height: 400px;
    background-color: #868695;
}

#caja2{
    height: 400px;
    width: 35%;
    background-color: #868695;    
}

li{
    height: 400px;
    background-color: #868695;
    width: 20%;
}

footer{
    background-color: #868695;
    height: 6em;
}