body{
    width: 100%;
    height: auto;
    background: #DA036C;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #ffffff;
}

#caja1{
    width: 400px;
    height: 300px;
    background-color: #610230;
    padding: 15px;
    overflow: auto;
    resize: none;
}

input{
    width: 250px;
    height: 32px;
    background-color: #610230;
    color: white;
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
}

input:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.651);
}

textarea{
    width: 250px;
    height: 200px;
    background-color: #610230;
    color: white;
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    resize: none;
}

textarea:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.651);
}
