body{
    background-color: #99C1DA;
}

/***************ESTILOS PARA EL HEADER*********************/

header{
    background-color: #0091D9;
    display: flex;
    flex-direction: column;
}

h1{
    font-style: italic;
    text-align: center;
    height: 100px;
    font-size: 2em;
}

ul{
    list-style: none;
    display: flex;
    margin-bottom: 0.5em; 
    margin-left: auto;       
}

li{
    background-color: #99C1DA;
    margin-left: 1em;
}

a{
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
}

li a{
    display: block;
    padding: 1em;
}

li a:hover{
    background-color: black;
    color: gainsboro;
} 

/********ESTILOS PARA EL MAIN*****************************/
.container{
    width: 60%;
}
main{
    margin-top: 1em;
    height: 2000px;
    display: flex;
    justify-content: space-between;
}

div{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: #69A3C5;
    width: 69%;    
}

p{
    line-height: 1.6em;
    font-size: 22px;
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

aside{
    background-color: #3D70C9;
    width: 30%;
    height: 100%;
    padding-top: 1em;
}

aside h1{
    font-style: italic;
}

/*ICONO DE CHAT FLOTANTE**/

#chat{
    top: 50%;
    right: 0;
    width: auto;
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}