*{box-sizing: border-box;}
ul{
	width: 200px;
	height: auto;
	list-style: none;  
}

ul li{
	width: 200px;
	height: 35px;
	background-color: green;
	text-align: center;
	font-family: arial;
	font-size: 18px;
	margin-bottom: 5px;
	padding-top: 7px;

}


ul a:link{
	color: #fff;
	text-decoration: none;
}

ul a:visited{
	color: #fff;
	text-decoration: none;
}

ul a:active{
	color: #fff;
	text-decoration: none;
}

ul a:hover{
	color: grey;
	text-decoration: none;
}


ol li{
	width:  150px;
	height: 50px;
	list-style: none;
	padding-top: 16px;
	font-family: arial;
	font-size: 15px;
	color: #555;
	font-weight: bold;
	background-color: #056f92;
	margin: 5px;
	text-align: center;
	float: left;
	border-radius: 7px;
	cursor: pointer;   /*convierte el cursor en una manito.*/
}
ol li:hover{
	background-color: green;
}

ol li:first-child{
	background-color: green;
}


/*ol li:nth-child(2){
	background-color: darkviolet;
}
*/

/*ol li:nth-child(3){
	background-color: darkviolet;
}
*/

/*ol li:last-child{
	background-color: green;
}
*/