body{
	background-color: #ccc;
}
ul li{
	list-style: none;
	line-height: 25px;
	font-family: verdana, geneva, sans-serif;
	font-size: 15px;
	color: #000;
	font-weight: bold;
}

ul li::before{
	content:url(../imagenes/vineta.png);
	padding-top: 1em;
}

ul li::after{
	content:url(../imagenes/tilde.png);
	size: 2em;
}

p{
	font-family: verdana;
	font-size: 16px;
	color: #000;
	text-align: justify;
}

p::first-letter{
	color: #000;
	font-size: 500%;
	float: left;
	margin-top: -25px;
	margin-bottom: -20px;
	margin-right: 7px;
	margin-left: -6px;
}

p::first-line{
	background-color: black;
	color: #fff;

}

mark{background-color: deeppink}

/*La etiqueta mark se usa para resaltar un sector como con un marcador
fluoresente el color puede ser cambiado*/

/*OVERFLOW*/

#contenedor{
	width: 50%;
	height: 300px;
	background-color: grey;
	padding: 10px;
}

#contenedor p{
	color: white;
	overflow: auto;
}