*{
	margin: 0;
	padding: 0;
}
ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #ccf;
	list-style: none;
}

ul li:last-child{
	margin-left:  auto;
}

ul li{
	padding:1em;
	width: 100px;
	background-color: white;
	margin: 0.5em;
	text-align: center;
	color: blue;
}


ul li:link{
	background-color: white;
	color: blue;
}
ul li:visited{
	background-color: white;
	color: blue;
}
ul li:hover{
	background-color: blue;
	color: white;
}
ul li:active{
	background-color: white;
	color: blue;
}