header{
	display: flex;
	flex-direction: column;
	padding: 1em;
}

#contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	padding-left: 0;
	padding-right: 0;
}

#contenedor nav ul{
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	padding-right: 0.5em;
	font-variant: small-caps;
	font-weight: bold;
}

nav li:first-child{
	font-size: 2em;
}

li a{
	text-decoration: none;
	color: black;
}

#buscar{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid gray; 
}

input{
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	font-style: italic;
}

header p{
	border-top: dashed;
	border-bottom: dashed;
	padding: 2em;
	padding-left: 0;
	padding-right: 0;
}

#principal{
	display: flex;
	flex-direction: row;
}

#izquierdo{
	background-color: cornflowerblue;
	padding-right: 1em;
}



#derecho{
	background-color: blue;
	padding-left: 1em;
	padding-right: 1em;
}

main{
	display: flex;
	justify-content: space-between;
}

.servicios{
	border-bottom: 2px solid black;
	padding: 1em;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

form div{
	margin-left: auto;
}

aside{
	padding: 1em;
	font-size: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

aside p{
	background-color: black;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em ;
}

#p1{
	text-align: center;
	width: 100px;
}

#p2{
	text-align: center;
	padding-right: 0;	
	width: 50px;
	margin-left: auto;
}

#p3{
	background-color: transparent;
	text-align: center;
	width: 100px;
	color: black;
}

aside div:last-child{
	border-top: 1px solid black;
}